<!DOCTYPE html>
<html>
<head>
    <title>Menú</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

<h1>🍰 Bal Dulce Edén</h1>

<ul>

<li>
<a href="/pasteles">
🎂 Pasteles
</a>
</li>

<li>
<a href="/bebidas">
☕ Bebidas
</a>
</li>

<li>
<a href="/panes_dulces">
🥐 Panes y Dulces
</a>
</li>

<li>
<a href="/registro">
📝 Registro
</a>
</li>

<li>
<a href="/carrito">
🛒 Carrito
</a>
</li>

<li>
<a href="/contacto">
📞 Contacto
</a>
</li>

</ul>

<a href="/">
Volver al inicio
</a>

</body>
</html>